Django==5.0.7
django-clearcache
django-taggit
django-mptt
django-redis
django-debug-toolbar
django-recaptcha
redis
django-ckeditor
djangorestframework
djangorestframework-simplejwt
django-filter
djoser
drf-spectacular
psycopg2-binary
django-mptt-admin
pytils
Pillow