<ul class="nav justify-content-center navbar-dark bg-dark">
  <li class="nav-item">
      <a class="navbar-brand justify-content-center .font-roboto" href="/"><h1 class="display-2">база.</h1></a>
  </li>
</ul>

<div class='d-flex justify-content-end '>
            {% if request.user.is_authenticated %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user }}
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="{% url 'post_create' %}">Добавить статью</a></li>
            <li><a class="dropdown-item" href="{% url 'profile_detail' request.user.profile.slug %}">Мой профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                    <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                        <a href="#" class="dropdown-item" onclick="parentNode.submit();">Log Out</a>
                    </form>
            </li>
          </ul>
        </div>
        {% else %}
            <ul class="nav ">
              <li><a href="{% url 'register' %}" class="nav-link px-2 link-secondary">Регистрация</a></li>
              <li><a href="{% url 'login' %}" class="nav-link px-2 link-dark">Вход</a></li>
            </ul>
        {% endif %}

</div>